<h2>
    Posts<button type="button" class="btn btn-link btn-lg" ng-click="vm.new()">+</button>
</h2>

<div class="media" ng-repeat="post in vm.posts" ng-click="vm.goto(post)">
    <div class="media-left media-middle">
        <div  class="list-img" >
            <img ng-src={{post.Image}} class="img-responsive">
        </div>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{post.Name}}</h4>
        <p>{{post.Description}}</p>
        <p> {{post.Date | date: "yyyy-MM-dd"}}</p>
    </div>
</div>



