<h2>
    Add a new image<button type="button" class="btn btn-link btn-lg" ng-click="vm.new()">+</button>
</h2>
<p class="lead IZ-JumpoTron-Text" ng-model="vm.username"></p>

<div ng-controller="EditPostController">  
    <flex-slider slide="post in vm.posts track by $index" animation="slide">

            <li>
                <img ng-src={{post.Image}} class="img-responsive">
                <p class="flex-caption">{{post.Name}} <button type="button" class="btn btn-default btn-sm pull-right">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
                </button></p>
            </li>

    </flex-slider>
 </div>