<h2>
    <a class="glyphicon glyphicon-arrow-left" ng-href="/index.html#/"></a> 
    New post
</h2>
<div class="row flex-row">
    <div class="col-sm-4 drop-parent">
        <div file-dropzone="[image/png, image/jpeg, image/gif]"
             file="vm.post.image"
             file-name="vm.post.fileName"
             data-max-file-size="3">
            <img ng-src={{vm.post.Image}} class="img-responsive" />
        </div>
        <img ng-src={{vm.post.image}} />
        <label>{{vm.post.fileName}}</label>
    </div>
    <div class="col-sm-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="Name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Name" placeholder="Name" ng-model="vm.post.name">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" placeholder="Description" ng-model="vm.post.description">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Pick a date</label>
                <div class="col-sm-10">
                    <input type="date" 
                           id="exampleInput"
                           name="input" 
                           ng-model="vm.post.Date"
                           placeholder="yyyy-MM-dd"
                           required />
                    <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!
                        </span>
                        <span class="error" ng-show="myForm.input.$error.date">
                            Not a valid date!
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="vm.save(vm.post)">Save post</button>
                </div>
            </div>
        </form>
    </div>
</div>
